<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Login der Grundschule</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Username" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Bitte geben sie einen Username ein
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Passwort" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('password')">
              Bitte geben Sie ein Passwort ein
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>